<!DOCTYPE html>
<html lang="en" ng-app="MyApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Feedback</title>

    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="/angular/angular.min.js"></script>
    <script src="/index.js"></script>

</head>

<body ng-controller="MyCtrl as myCtrl">
    <h1>Feedback Form</h1>
    <br>
    <form name="myForm" novalidate>
        <div class="col-md-6 form-line">
            <div class="form-group" ng-class="{ 'has-error': myCtrl.isValid(myForm, 'name')}">
                <label class="form-control-label" for="name">Name</label>
                <input type="text" ng-model="myCtrl.name" class="form-control" id="name" name="name" required>
                <span class="help-block" ng-if="myCtrl.isValid(myForm, 'name')">Please enter your name</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': myCtrl.isValid(myForm, 'email')}">
                <label class="form-control-label" for="email">Email</label>
                <input type="email" ng-model="myCtrl.email" class="form-control" id="email" name="email" required>
                <span class="help-block" ng-if="myCtrl.isValid(myForm, 'name')">Please enter a valid email</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': myCtrl.isValid(myForm, 'phone')}">
                <label for="phone">Phone</label>
                <input type="tel" ng-model="myCtrl.phone" class="form-control" id="phone" name="phone" required>
                <span class="help-block" ng-if="myCtrl.isValid(myForm, 'name')">Please enter your phone no.</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" ng-class="{ 'has-error': myCtrl.isValid(myForm, 'comment')}">
                <label for="comment">Comment</label>
                <textarea ng-model="myCtrl.comment" class="form-control" id="comment" name="comment" required></textarea>
                <span class="help-block" ng-if="myCtrl.isValid(myForm, 'name')">Please write your comment</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': myCtrl.isValid(myForm, 'experience')}">
                <label for="experience">Experience</label>
                <div id="experience" class="radio">
                    <label class="radio control-label"><input type="radio" ng-model="myCtrl.experience" value="good" id="exp-good" name="experience" ng-required="true">Good</label>
                </div>
                <div class="radio">
                    <label class="radio control-label"><input type="radio" ng-model="myCtrl.experience" value="neutral" name="experience" id="exp-neutral" ng-required="true">Neutral</label>
                </div>
                <div class="radio">
                    <label class="radio control-label"><input type="radio" ng-model="myCtrl.experience" value="bad" name="experience" id="exp-bad" ng-required="true">Bad</label>
                </div>
            </div>
            <div>
                <button type="button" ng-click="myCtrl.clearForm()" class="btn btn-default submit">Clear</button>

                <button type="button" ng-click="myCtrl.processForm()" class="btn btn-default submit" ng-disabled="myForm.$invalid">Submit</button>
            </div>

        </div>
    </form>

</body>

</html>